.floating {
    position: relative;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.quote-icon-right{
     display: inline-block;
    right: -5px;
    position: relative;
    /* transform: scale(-1, -1);  */
    transform: rotate3d('180')
}

 /* .swiper-pagination-bullet{
    outline: none;
    border: 2px solid green;
    color: white;
    padding: 5px;
} */

.swiper-pagination .swiper-pagination-bullet{
    background-color: white;
    border: 2px solid green ;
    padding: 5px;

}
.swiper-pagination-bullet-active {
    background-color: #10bc69 !important;
  }